@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Pixelify+Sans&family=Poppins&family=Roboto&display=swap');

:root {
    padding: 0;
    margin: 0;
    --bg-color: #e9e4bb;
    --bg-menu-btn-color: #ffffff;
    --bg-menu-btn-active-color: #ffa500;
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-color);
    padding: 10px;
}

#header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 85vh;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.menu-wrapper {
    display: flex;
    gap: 20px;
}

.main-cell {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .heading-wrapper {
        >h2 {
            font-size: 80px;
        }

        >p {
            font-size: 35px;
        }
    }
}

.menu-item {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: none;
    border-radius: 50px;
    height: 120px;
    width: 70px;
    background-color: var(--secondary-color);
    padding: 6px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.menu-btn-icon-wrapper {
    display: flex;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 35px;
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;

    >img {
        width: 30px;
    }
}

.social-icon {
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 12px;

    >img {
        width: 20px;
        height: 20px;
    }
}

.notification-wrapper {
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 12px;

    >img {
        width: 20px;
        height: 20px;
    }
}

#harder-link-wrapper {
    display: flex;
    gap: 50px;
}

.header-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.menu-item:hover {
    background-color: var(--bg-menu-btn-active-color);

    .menu-btn-price-wrapper {
        background-color: var(--bg-menu-btn-active-color);

        >p {
            color: var(--secondary-color);
            font-weight: 600;
        }
    }

    .menu-btn-icon-wrapper {
        background-color: var(--secondary-color);
    }

    >p {
        color: var(--secondary-color);
        font-weight: 600;
    }
}

#logo {
    display: flex;
    width: 100px;
}

.header-cell:first-child {
    justify-self: flex-end;
}

.header-cell:last-child {
    justify-self: flex-start;
}


#food-img {
    width: 650px;
}

.menu-btn-price-wrapper {
    position: absolute;
    display: flex;
    content: '$5';
    background-color: var(--secondary-color);
    padding: 5px 10px;
    top: -22px;
    border-top-right-radius: 15px;
    border-top-left-radius: 4px;
}

.active {
    background-color: var(--bg-menu-btn-active-color);

    .menu-btn-price-wrapper {
        background-color: var(--bg-menu-btn-active-color);

        >p {
            color: var(--secondary-color);
            font-weight: 600;
        }
    }

    .menu-btn-icon-wrapper {
        background-color: var(--secondary-color);
    }

    >p {
        color: var(--secondary-color);
        font-weight: 600;
    }
}

/* Contact page */
#contact-form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 165, 0, 0.2);
    border-radius: 10px;
    gap: 50px;
    padding: 40px;

    
    
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
    >div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        
        >input {
            border-radius: 10px;
            padding: 10px;
            width: 30vw;
            border: 1px solid var(--bg-menu-btn-active-color);
        }
        >input[type="submit"] {
            font-size: 18px;
            font-weight: 900;
            background-color: var(--bg-menu-btn-active-color);
            border: 1px solid var(--bg-color);
            color: var(--secondary-color);
        }
    }
}

.contant-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.contact-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#map-img {
    height: 40vh;
}

/* Header link */
.header-active {
    position: relative;
}
.header-active::after {
    position: absolute;
    width: 100%;
    height: 10%;
    content: '';
    background-color:  var(--bg-menu-btn-active-color);
    left: 0;
    bottom: -4px;
}